 <!--menu mobile-->
 <div class="topnav">
    <div id="myLinks">

        <div class="dropdown__mobile">
            <li><button class="dropbtn">Orientações</button></li>

                <div class="dropdown-content__mobile">
                    <div class="row">
                        <div class="column">
                                <a href="/subadmin/dashboard">Enviar experiência</a>                                                                       
                        </div>
                        
                    </div>
                </div>
        </div> 

        <div class="dropdown__mobile">
            <li><button class="dropbtn">Artigos</button></li>

                <div class="dropdown-content__mobile">
                    <div class="row">
                        <div class="column">
                                <a href="/subadmin/dashboard/new/article">Criar artigo</a>
                                <a href="/subadmin/dashboard/articles/1">Lista de artigos</a>                                                                       
                        </div>
                        
                    </div>
                </div>
        </div>


    </div>
</div>