 <!--menu mobile-->
 <div class="topnav">
    <div id="myLinks">

        <div class="dropdown__mobile">
            <li><button class="dropbtn">ASSUNTOS</button></li>

                <div class="dropdown-content__mobile">
                    <div class="header">
                        <h2>Experiências por assuntos</h2>
                    </div>
                    
                    <div class="row">
                        <div class="column">
                            <% categories1.forEach(category1 => { %>
                                <a href="/category/<%= category1.slug %>/1"><%= category1.title %></a>                                           
                            <% }) %>
                            
                        </div>
                        
                    </div>
                </div>
        </div> 

        <div class="dropdown__mobile">
            <li><button class="dropbtn">BNCC</button></li>

                <div class="dropdown-content__mobile">
                    <div class="header">
                        <h2>Experiências pela BNCC</h2>
                    </div>
                    
                    <div class="row">
                        <div class="column">
                            <% categories2.forEach(category2 => { %>
                                <a href="/category2/<%= category2.slug %>/1""><%= category2.title %></a>                                           
                            <% }) %>
                            
                        </div>
                        
                    </div>
                </div>
        </div>

    </div>
</div>