 <!--menu mobile-->
 <div class="topnav">
    <div id="myLinks">

        <div class="dropdown__mobile">
            <li><button class="dropbtn">Orientações</button></li>

                <div class="dropdown-content__mobile">
                    <div class="row">
                        <div class="column">
                                <a href="/admin/dashboard">Enviar experiência</a>                                                                       
                        </div>
                        
                    </div>
                </div>
        </div> 

        <div class="dropdown__mobile">
            <li><button class="dropbtn">Artigos</button></li>

                <div class="dropdown-content__mobile">
                    <div class="row">
                        <div class="column">
                                <a href="/admin/dashboard/new/article">Criar artigo</a>
                                <a href="/admin/dashboard/articles/1">Lista de artigos</a>                                                                       
                                <a href="/admin/dashboard/articles/deleted/1">Lista de artigos deletados</a>                                                                       
                        </div>
                        
                    </div>
                </div>
        </div>

        <div class="dropdown__mobile">
            <li><button class="dropbtn">Categoria: Assuntos</button></li>

                <div class="dropdown-content__mobile">
                    <div class="row">
                        <div class="column">
                                <a href="/admin/dashboard/new/categorie">Criar categoria</a>
                                <a href="/admin/dashboard/categories/1">Lista de categorias</a>                                                                       
                        </div>
                        
                    </div>
                </div>
        </div>

        <div class="dropdown__mobile">
            <li><button class="dropbtn">Categoria: BNCC</button></li>

                <div class="dropdown-content__mobile">          
                    <div class="row">
                        <div class="column">
                                <a href="/admin/dashboard/new/categorie2">Criar categoria</a>
                                <a href="/admin/dashboard/categories2/1">Lista de categorias</a>                                                                       
                        </div>
                        
                    </div>
                </div>
        </div>

        <div class="dropdown__mobile">
            <li><button class="dropbtn">Usuários</button></li>

                <div class="dropdown-content__mobile"> 
                    <div class="row">
                        <div class="column">
                                <a href="/admin/dashboard/users/1">Lista de usuários</a>
                                <a href="/admin/dashboard/users/deleted/1">Lista de usuários deletados</a>                                                                       
                        </div>
                        
                    </div>
                </div>
        </div>

    </div>
</div>