<header class="menu">
    <div class="menu__section left">
        <ul>
            <li><img class="menu__icon" src="assets/burger-icon.svg" alt="Burger"></li>
            <li><a class="menu__logo" href="">LOGO</a></li>
            <li ><a class="menu__link" href="">link 1</a></li>
            <li ><a class="menu__link" href="">link 2</a></li>
            <li ><a class="menu__link" href="">link 3</a></li>
        </ul>
    </div>

    <div class="menu__section right">
        <ul>
            <!--<li><a class="menu__login" href="">Entrar</a></li>-->
            <li><img class="menu__more" src="assets/more-icon.svg" alt="More"></li>
            <li><img class="menu__avatar" src="assets/bussiness-man.svg" alt="Avatar picture"></li>
        </ul>
    </div>
</header>