<div class="tab">

    <h2>ARTIGOS</h2>
    <button class="tablinks"><a href="/subadmin/dashboard">Inicio</a></button>
    <button class="tablinks"><a href="/subadmin/dashboard/articles/new">Criar artigo</a></button>
    <button class="tablinks"><a href="/subadmin/dashboard/articles">Lista de artigos</a></button>

</div>