<div class="tab">

    <h2>ORIENTAÇÕES</h2>
    <button class="tablinks"><a href="/subadmin/dashboard">Enviar experiência</a></button>

    <h2>ARTIGOS</h2>
    <button class="tablinks"><a href="/admin/dashboard/new/article">Criar artigo</a></button>
    <button class="tablinks"><a href="/admin/dashboard/articles/1">Lista de artigos</a></button>
    <button class="tablinks"><a href="/admin/dashboard/articles/deleted/1">Lista de artigos deletados</a></button>

    <h2>CATEGORIA: ASSUNTOS</h2>
    <button class="tablinks"><a href="/admin/dashboard/new/categorie">Criar categoria</a></button>
    <button class="tablinks"><a href="/admin/dashboard/categories/1">Lista de categorias</a></button>

    <h2>CATEGORIA: BNCC</h2>
    <button class="tablinks"><a href="/admin/dashboard/new/categorie2">Criar categoria</a></button>
    <button class="tablinks"><a href="/admin/dashboard/categories2/1">Lista de categorias</a></button>

    <h2>USUÁRIOS</h2>
    <button class="tablinks"><a href="/admin/dashboard/users/1">Lista de usuários</a></button>
    <button class="tablinks"><a href="/admin/dashboard/users/deleted/1">Lista de usuários deletados</a></button>

</div>