<div class="tab">

    <h2>ARTIGOS</h2>
    <button class="tablinks"><a href="/subadmin/dashboard">Orientações</a></button>
    <button class="tablinks"><a href="/subadmin/dashboard/new/article">Criar artigo</a></button>
    <button class="tablinks"><a href="/subadmin/dashboard/articles/1">Lista de artigos</a></button>

</div>