<%- include("partials/head.ejs") %>


<body>
    <%- include("partials/header.ejs") %>

    <main class="content">


        <div class="users__content">

            <div class="users__section__header">
                <h1 class="title__header">Pagina de um artigo</h1>
            </div>

            <div class="users__section__body">
                <div class="user__block">
                    <div class="user__info">
                        <h2 class="user__title">foto</h2>
                    </div>
                    <div class="user__info">
                        <img class="user__image" src="assets/male-user-shadow-svgrepo-com.svg" alt="">
                    </div>
                </div>

                <div class="user__block">
                    <div class="user__info">
                        <h2 class="user__title">Audio descrição</h2>
                    </div>
                    <div class="user__info">
                        <audio src="" type="mp3"></audio>
                    </div>
                </div>

                <div class="user__block">
                    <div class="user__info">
                        <h2 class="user__title">materiais</h2>
                    </div>
                    <div class="user__info">
                        <p>Fellippe Matheus</p>
                    </div>
                </div>

                <div class="user__block">
                    <div class="user__info">
                        <h2 class="user__title">passo a passo</h2>
                    </div>
                    <div class="user__info">
                        <p>Fellippe Matheus</p>
                    </div>
                </div>

                <div class="user__block">
                    <div class="user__info">
                        <h2 class="user__title">video</h2>
                    </div>
                    <div class="user__info">
                        <p>Administrador</p>
                    </div>
                </div>

                <div class="user__block">
                    <div class="user__info">
                        <h2 class="user__title">Fotos</h2>
                    </div>
                    <div class="user__info">
                        <p>Administrador</p>
                    </div>
                </div>
                          
            </div>

        </div>
        
    </main>
    

    <%- include("partials/footer.ejs") %>

</body>

