<%- include("partials/head.ejs") %>


<body>
    <%- include("partials/header.ejs") %>

    <main class="content">
        <h1>Criar categoria</h1>
        <p>Teste de paragrafo Teste de paragrafo Teste de paragrafo </p>
        <p>Teste de paragrafo Teste de paragrafo Teste de paragrafo </p>
        <p>Teste de paragrafo Teste de paragrafo Teste de paragrafo </p>
        <p>Teste de paragrafo Teste de paragrafo Teste de paragrafo </p>
        <p>Teste de paragrafo Teste de paragrafo Teste de paragrafo </p>
        <p>Teste de paragrafo Teste de paragrafo Teste de paragrafo </p>
        <p>Teste de paragrafo Teste de paragrafo Teste de paragrafo </p>
        <p>Teste de paragrafo Teste de paragrafo Teste de paragrafo </p>
        <p>Teste de paragrafo Teste de paragrafo Teste de paragrafo </p>
        <p>Teste de paragrafo Teste de paragrafo Teste de paragrafo </p>
        <p>Teste de paragrafo Teste de paragrafo Teste de paragrafo </p>
        <p>Teste de paragrafo Teste de paragrafo Teste de paragrafo </p>
        <p>Teste de paragrafo Teste de paragrafo Teste de paragrafo </p>
        <p>Teste de paragrafo Teste de paragrafo Teste de paragrafo </p><p>Teste de paragrafo Teste de paragrafo Teste de paragrafo </p>
        <p>Teste de paragrafo Teste de paragrafo Teste de paragrafo </p>
        <p>Teste de paragrafo Teste de paragrafo Teste de paragrafo </p><p>Teste de paragrafo Teste de paragrafo Teste de paragrafo </p>
        <p>Teste de paragrafo Teste de paragrafo Teste de paragrafo </p>
        
        
    </main>
    

    <%- include("partials/footer.ejs") %>

</body>

