<%- include("partials/head.ejs") %>


<body>
   
    <main class="content">
        <div class="form__container">

            <div class="form__header">
                <h1 class="text__heading">Entrar</h2>
            </div>
                    
            <form class="form__login" action="/user/login" method="POST"><!--content__field__text//content__button__submit//content__footer__text-->
                <% if (message) { %>
                    <h2><%= message %> </h2>
                <% } %>
                <input class="text__field" type="email" name="email" id="email" placeholder="Email" minlength="3" maxlength="150" required>
                <input class="text__field" type="password" name="password" id="password" placeholder="Senha" minlength="3" maxlength="30" required> 
                <input class="button_login" type="submit" value="Entrar">
            </form>

            <div class="alternative__options" style="background-color:#f1f1f1">
                <a class="text__forgot" href="/user/forgot-password">Esqueceu senha?</a>
                <h2 class="text__footer">Não tem?<a href="/user/register">Registre-se</a></h3>
            </div>
        </div>
    </main>
   

    <%- include("partials/footer.ejs") %>

</body>

</html>