<%- include("partials/head.ejs") %>


<body>
    <%- include("partials/header.ejs") %>

    <main class="content">
          
            <div class="container">
                <div class="box-nav d-flex justify-between">
                    <a href="/admin/dashboard" class="border-shadow">
                        <span class="text-gradient">Voltar ao dashboard <i class="fas fa-user"></i></span>
                    </a>
                </div>
    

           
                <p>Pagina de editar um usuario</p>

            </div>



    </main>
    

    <%- include("partials/footer.ejs") %>

</body>

