.article__content__main {
    width: 100%;
    max-width: var(--width-size-main);
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-box-main);
}

/*HEADER DO ARTIGO*/
.article__section__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fefefe;
    padding: 0rem 1rem;
}

.article__section__header__right, .article__section__header__left {
  display: flex;
  align-items: center;
}

.article__round__container {
  min-width: 3rem;
  min-height: 3rem;
  align-self: center;
  border-radius: 100%;
  margin: 0.4;
  overflow: hidden;
  position: relative;
}

.article__round__container img {
  width: 3rem;
  height: inherit;
  max-width: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.article__user__id {
    font-size: 1.4rem;
    margin: 0rem 0.4rem;
}

/*BODY DO ARTIGO*/
.article__section__body {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    padding: 0rem 4rem;  
  }

.section__body__header {
  justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__body__intro {
  width: 85%;
  margin: 3rem 0rem
}

.section__body__intro .article__title, .section__body__intro .article__desciption {
  text-align: center;
}

.section__body__content {
  justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body__content__item {
  width: 100%;
  max-width: var(--width-size-main);
  margin-bottom: 4rem;
}

.content__item__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2.4rem;
  padding: 0rem 2.4rem;
  border-top: 0.1rem solid #bbb;
}

.content__item__block p {
  text-align: justify;
}

.article__img__content {
  width: 50%;
  align-self: center;
  margin-top: 1rem;
}

.article__img__content img {
  width: 100%;
}

.article__video__content {
  display: flex;
    width: 100%;
    justify-content: center;
}

  
/*-----//-----------/-------PARA PROFESSORES---/----------/-----------*/
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 1rem;
  }

  .collapsible:after {
    content: '\002B'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .collapsible.active:after {
    content: "\2212"; /* Unicode character for "minus" sign (-) */
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .collapsible.active, .collapsible:hover {
    background-color: #555;;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .button__content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  @media (max-width: 763px) {

    .article__section__header {
      flex-direction: column;
      align-items: flex-start;
    }

    .article__section__body {
      padding: 0rem; 
  }

  .body__content__item {
    padding: 0.5rem;
  }

}

