.dashboard__content__main {
    width: var(--width-size-main);
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: var(--shadow-box-main);
    padding: 1rem;
}

.admin__infos {
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.admin__options {
    display: flex;
}

.infos__left {
    margin-right: 3rem;
}

.round-container {
    width: 9rem;
    height: 9rem;
    align-self: center;
    border-radius: 100%;
    margin: 2.3rem auto 2.5rem auto;
    overflow: hidden;
    position: relative;
}
.round-container img {
    width: initial;
    height: inherit;
    max-width: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Style the tab content */
.admin__content {
    margin-left: 1rem;
    min-height: 75vh;
    width: 75%;
    border: 1px solid #ddd;
}

@media (max-width: 763px) {

    

}