.myprofile__section {
    width: var(--width-size-main);
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: var(--shadow-box-main);
}

.myprofile__header {

}

.myprofile__top__content {
  
}

.myprofile_content {

}

.myprofile__body {
   
}

.myprofile__body__content {
    
}

.file {
    font-size: 1rem;
}

.myprofile__label {

}

.myprofile__input {
   
}

.button_update {
    width: 19rem;
    cursor: pointer;
    padding: 1.2rem 0rem 1.2rem 0rem;
    font-size: 2rem;
    border-radius: 0.3125rem;
    text-decoration: none;
    background-color: rgb(34, 64, 245);
    color: white;
    border-style: none;
}