/*----------//--------------CONFIGURAÇÕES GLOBAIS------------------//------------*/
:root{
    --color-text-base: black;
    --color-page-background: #ffffff;
    font-size: 70%;
    font-family: 'Poppins', sans-serif;
    --width-size-main: 1080px; /*Largura minima do bloco principal da pagina*/
    --shadow-box-main: rgb(75 75 75 / 25%) 0px 0rem 0rem 0.5px, rgb(75 75 75 / 15%) 0px 0.0625rem 0.1875rem 0px;
    --shadow-box-header: rgb(75 75 75 / 25%) 0px 0rem 0rem 0.5px, #b5aeae 0px 0.0625rem 0.1875rem 0px;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--color-page-background);
    font-size: 1.8rem;
    color: var(--color-text-base);
    line-height: 1.5;

}

.content {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 2rem 0rem 2rem 0rem;    
    background-color: #f1f1f1;
}

.pagination {
    display: none;
}

li {
    list-style-type: none;
}

@media (max-width: 763px) {
    .content {
        padding: 0rem;
    }

  }