

<body>

    <main class="content">
        
        <div class="perfil__section">
            <div class="perfil__section__left">
                <img class="user__photo" src="assets/male-user-shadow-svgrepo-com.svg" alt="">
                <img class="change__photo" src="assets/camera-fotografica.svg" alt="">
                <p>Descrição do usuario Descrição do usuario Descrição do usuario Descrição do usuario Descrição do usuario Descrição do usuario Descrição do usuario Descrição do usuario Descrição do usuario Descrição do usuario Descrição do usuario Descrição do usuario </p>
            </div>

            <div class="perfil__section__right">
                <div class="perfil__content">
                    <label class="perfil__title" for="name">Nome</label>
                    <input class="perfil__input" type="text" name="name" id="name" placeholder="Nome" minlength="5" maxlength="60" required>
                    <input class="button_login" type="submit" value="Atualizar nome">
                </div>

                <div class="perfil__content">
                    <label class="perfil__title" for="email">Email</label>
                    <input class="perfil__input" type="email" name="email" id="email" placeholder="Email" minlength="5" maxlength="150" required>
                    <input class="button_login" type="submit" value="Atualizar email">
                </div>

                <div class="perfil__content">
                    <label class="perfil__title" for="password">Senha atual</label>
                    <input class="perfil__input" type="password" name="password" id="password" placeholder="Senha" minlength="5" maxlength="30" required> 
                    <label class="perfil__title" for="rp">Digite a nova a senha</label>
                    <input class="perfil__input" type="password" name="rp" id="rp" placeholder="Digite novamente a senha" minlength="5" maxlength="30" required> 
                    <input class="button_login" type="submit" value="Atualizar senha">
                </div>

                <div class="perfil__content">
                    <label class="perfil__title" for="password">Deletar conta</label>
                    <input class="button_login" type="submit" value="Deletar">
                </div>
            </div>
        </div>
        
    </main>
    


</body>

