.article__content {
    width: 980px;
    display: flex;
    flex-direction: column;
}

.article__section__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fefefe;
    border-bottom: 1px solid #ccc;
    padding: 0rem 1rem;

}

.section__body__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section__body__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.article__section__header__right, .article__section__header__left {
  display: flex;
  align-items: center;
}

.article__user__photo, .article__date__title, .article__date__update{
    font-size: 1.4rem;
}

.article__date__title{
  margin-left: 1rem;
}


.article__round-container {
    min-width: 3rem;
    min-height: 3rem;
    align-self: center;
    border-radius: 100%;
    margin: 0.4rem;
    overflow: hidden;
    position: relative;
}
.article__round-container img {
    width: 3rem;
    height: inherit;
    max-width: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.article__date, .article__user__name, .article__update {
    color: black;
    margin-left: 1rem;
    font-size: 1.4rem;
}

.article__section_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    padding: 1rem;
}

.article__title{
  font-size: 4rem;
  text-align: center;
  width: 100%;
  text-align: center;
}

.article__title__body {
  margin-top: 3rem;
}

.diff {
  text-align: center;
}

.article__main__photo {
    margin: 2rem 0rem;
    height: 22rem;
    border-radius: 3rem;
}

.article__desciption {
    color: black;
    margin-bottom: 3rem;
    width: 100%;
    text-align: center;
}

.article__video__content {
  display: flex;
  justify-content: center;
}

.article__video {
    height: 21rem;
    width: 37rem;
}



/*-----//-----------/-------fotos---/----------/-----------*/
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  .mySlides.fade:first-of-type {
    display: block;
}
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .slide__img {
      height: 30rem;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


  
/*-----//-----------/-------PARA PROFESSORES---/----------/-----------*/
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 1rem;
  }

  .collapsible:after {
    content: '\002B'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .collapsible.active:after {
    content: "\2212"; /* Unicode character for "minus" sign (-) */
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .collapsible.active, .collapsible:hover {
    background-color: #555;;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .button__content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

